@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nosifer&family=Astloch&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-image: url('https://img.freepik.com/premium-vector/bloody-grunge-texture-background_867643-11419.jpg?semt=ais_hybrid');
    font-family: 'monospace';
    justify-content: center;
    align-items: center;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: blink 0.5s step-start 3;
    color: rgb(112, 16, 16);
}

h1 {
    font-family: 'Nosifer';
    font-size: 75px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes blink-bg {
    0%, 100% { 
        background-color: transparent;
        background-image: url('https://img.freepik.com/premium-vector/bloody-grunge-texture-background_867643-11419.jpg?semt=ais_hybrid');
    }
    50% { 
        background-color: #4B0000;
        background-image: none;
    }
}

body.blinking-background {
    animation: blink-bg 0.5s step-start 6;
}

#top {
    color: rgb(112, 16, 16);
}

.group {
    width: auto;
    text-align: center;
}

.group, input {
    border: none;
    outline: none;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    color: rgb(112, 16, 16);
    font-size: 20px;
}

.group button {
    background-color: rgb(112, 16, 16);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.group button:hover {
    background-color: rgb(177, 172, 172);
    color: rgb(112, 16, 16);
}

.group input {
    background-color: rgb(112, 16, 16);
    border: none;
    outline: none;
    padding: 20px;
    width: 900px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.288);
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.group input:hover {
    background-color: rgb(177, 172, 172);
    color: rgb(112, 16, 16);
}